<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tjoep</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
      </head>
      <body>




        
        <section class="login">
          <h1 class="main-title">Tjoep!</h1> 
        <form class="loginForm" action="">
        
        <input id="nickname" required placeholder="Enter a nickname" autocomplete="off" />
        
        
        <label for="Gameroom 1">Gameroom 1
          <input type="radio" id="Gameroom 1" name="room" value="0" required>
        </label>
        
        <label for="Gameroom 2">Gameroom 2
          <input type="radio" id="Gameroom 2" name="room" value="1">
        </label>

        <label for="Gameroom 3">Gameroom 3
          <input type="radio" id="Gameroom 3" name="room" value="2">
        </label>

        <label for="Gameroom 4">Gameroom 4
          <input type="radio" id="Gameroom 4" name="room" value="3">
        </label>

        <input type="submit" value="Enter room">
      
        </form>
        
        </section>

        <section class="roomFull">
          <h1>Sorry this room is full, please go back and choose another one</h1>
        </section>
        
        <h1 class="turn"></h1>
        <section class="gameField">
          

        </section>
       
        <section class="cards">
        </section>
        
        <section class="playerInfo">
          
          <h1>Punten: <span class= "points"></span></h1>
          <button class="start">Start game</button>
          <button class="leave">Leave game</button>
          <button class="toep">Toep</button>
          <button class="rulesButton">Rules</button>

        </section>

        <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <!-- <span class="close">&times;</span> -->
    <p class="toepMessage"></p>

    <button class="foldToep">Ga niet mee</button>
    <button class="joinToep">Ga mee</button>

  </div>

</div>

<div id="winner-popup" class="winnerPopup">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <!-- <span class="close">&times;</span> -->
    <p id = "winnerMessage" class="winnerMessage"></p>

  </div>

</div>

<section class ="rulesPopup">

  <div class="modal-content">

    <h2>Game rules</h2>
    <span class="close2">&times;</span>
  <p>Each player gets 4 cards. One player can play a card on the field. The other players have to match the suit of the first played card. If they don't have a card of that suit they are allowed to play another suit. The highest card of the suit wins the round, and can start the next round. If no one else matches suits with the first played card the first player wins the round.

    Whenever you lose you get a point, the player that wins doesn't get points. When you reach 14 points you lose.
    
    If you decide to toep the other players have to say whether they leave or stay. The players that stay now play for an extra point. Each player can toep once.
    
    If you get 4 cards that aren't numbers you can call 'vuile was'. If no one decides to check if you really don't have any numbered cards, you get to draw 4 new cards and the player that checked you gets a point. If your 'vuile was' was false you get a point and you don't get to draw new cards.</p>
  </div>

</section>

        <script src="/js/client.js"></script>

      </body>
</html>